*{
    border: 1px solid red;
}
/* CSS animation for button to expand when hovering */

/* button colors */


/* normal header */

/* fairy header */


/* red bar for health meter*/
#health-bar{
    padding: 0;
}

/* green bar for speach meter */
#stamina-bar{
    padding: 0;
}